@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
a h1{
    color: black;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #e1e1e1;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto+Condensed, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation*/

#nav-bar {
    font-size: 110%;
    letter-spacing: 3px;
}

#nav-bar,
#logo {
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: solid 1 px black;
}

#image {
    margin-bottom: 50px;
    margin-top: 100px;
    width: 500px;
    
}

.main {
    margin-top: 50px;
    font-size: 20px;
}

#center {
    text-align: center;
}

 #left {
     float: left;
     margin-left: 200px;
 }
 #right {
     float: right;
     margin-right: 200px;
 }

 footer {
     height: 150px;
 }

 .social {
     text-align: center;
 }

.social > li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}