@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

a h1{
    color: #000000;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #e1e1e1;
}

/* headings and logo */

h1,
h2, 
h3 {
    font-family: RobotoCondensed, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation*/

#nav-bar {
    font-size: 110%;
    letter-spacing: 3px;
}

#nav-bar,
#logo {
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: solid 1px #000000;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
    }

.sub-image {   
    width: 30%;
    right: 0;
    top: 40%;
    background-color: #323232;
    color: white;
    text-align: center;
    position: absolute; 
    padding: 1rem;
    border-radius: 25px;   
}

.container {
    width: 100%;
    display: flex;
    vertical-align: top;
}

/* about */

#about {
    text-align: center;
    margin: 30px;
}

#about > p {
    margin-top: 10px;
}

.sub-about {
    width: 30%;
    padding: 3rem;
    text-align: justify;
}

#second-image {
    border-radius: 50%;
    margin: 0;
}

ul > li { 
    margin: 5px 0px 5px 0px;
}

table {
    border-spacing: 10px;
    margin: 0 auto;
}

th {
    font-size: 1.17em;
}

/* sign-up */

form {
    display: flex;
    flex-direction: column;
    text-align: inherit;
    padding: 10% 30%;
    width: 100%;
}

form h2 {
    text-align: center;
}

#submit {
    background-color: white;
    border: solid 1px #000000;
    color: #000000;
    padding: 7px;
    text-decoration: none;
    margin: 5px 5px 5px 0px;
    width: 20%;
}

/* footer */

 footer {
     height: 150px;
 }

 .contact {
    padding: 3rem;
    text-align: center;
    width: 100%;
 } 

 .contact > h2 {
     margin-bottom: 15px;
 }

 .social {
     text-align: center;
     display: flex;
     padding: 3rem;
     list-style-type: none;
     justify-content: space-evenly;
 }

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

/*media queries for laptops and desktops 1200px and below*/
@media screen and (max-width: 1200px) {
    .sub-about {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }
    .sub-about > div {
        display: block;
    }
    #second-image {
        clear: both;
        width: 100%;
        padding: 0;
    }
    hr {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    form {
        width: auto;
    }
}

/*media queries for smaller laptops and devices 900px and below*/
@media screen and (max-width: 900px) {

    #logo {
        letter-spacing: 1.5px;
        margin-left: 10px;
        font-size: 200%;
    }

    #nav-bar {
        line-height: 40px;
    }

    #nav-bar li {
        display: flex;
        margin: 0 auto;
        clear: both;
        padding-left: 10px;
        float: left;
    }

    #submit {
        padding: 3px;
        width: 75%;
    }   

/* media queries for smaller devices 500px and below */
@media screen and (max-width: 500px) {
     .sub-image > h1 {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
     .sub-image > p {
        display: flex;
        justify-content: center;
    }
     .sub-image {
        all: unset;
    }

    #logo {
        font-size: 120%;
    }
}